<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript">
        $(function(){
            var array = $(".cost");
            var totalCost = 0;
            for(var i = 0;i < array.length;i++){
                var val = parseInt($(".cost").eq(i).html());
                totalCost += val;
            }
            $("#totalCost").html("￥"+totalCost);

            var array = $(".qprice");
            var totalCost = 0;
            for(var i = 0;i < array.length;i++){
                var val = parseInt($(".qprice").eq(i).html().substring(1));
                totalCost += val;
            }
            $("#totleprice").html("￥"+totalCost);
            $("#settlement2_totalCost").val(totalCost);
        });
    </script>
</head>
<body>

<!-- header -->
<div class="soubg">
    <div class="sou">
    	<span class="s_city_b">
        	<span class="fl">送货至：</span>
            <span class="s_city">
            	<span id="s_city_title">四川</span>
                <div class="s_city_bg">
                  <div class="s_city_t"></div>
                  <div class="s_city_c">
                    <h2>请选择所在的收货地区</h2>
                    <table border="0" class="c_tab" style="width:235px; margin-top:10px;" cellspacing="0" cellpadding="0">
                      <tr>
                        <th>A</th>
                        <td class="c_h"><span>安徽</span><span>澳门</span></td>
                      </tr>
                      <tr>
                        <th>B</th>
                        <td class="c_h"><span>北京</span></td>
                      </tr>
                      <tr>
                        <th>C</th>
                        <td class="c_h"><span>重庆</span></td>
                      </tr>
                      <tr>
                        <th>F</th>
                        <td class="c_h"><span>福建</span></td>
                      </tr>
                      <tr>
                        <th>G</th>
                        <td class="c_h"><span>广东</span><span>广西</span><span>贵州</span><span>甘肃</span></td>
                      </tr>
                      <tr>
                        <th>H</th>
                        <td class="c_h"><span>河北</span><span>河南</span><span>黑龙江</span><span>海南</span><span>湖北</span><span>湖南</span></td>
                      </tr>
                      <tr>
                        <th>J</th>
                        <td class="c_h"><span>江苏</span><span>吉林</span><span>江西</span></td>
                      </tr>
                      <tr>
                        <th>L</th>
                        <td class="c_h"><span>辽宁</span></td>
                      </tr>
                      <tr>
                        <th>N</th>
                        <td class="c_h"><span>内蒙古</span><span>宁夏</span></td>
                      </tr>
                      <tr>
                        <th>Q</th>
                        <td class="c_h"><span>青海</span></td>
                      </tr>
                      <tr>
                        <th>S</th>
                        <td class="c_h"><span>上海</span><span>山东</span><span>山西</span><span class="c_check">四川</span><span>陕西</span></td>
                      </tr>
                      <tr>
                        <th>T</th>
                        <td class="c_h"><span>台湾</span><span>天津</span></td>
                      </tr>
                      <tr>
                        <th>X</th>
                        <td class="c_h"><span>西藏</span><span>香港</span><span>新疆</span></td>
                      </tr>
                      <tr>
                        <th>Y</th>
                        <td class="c_h"><span>云南</span></td>
                      </tr>
                      <tr>
                        <th>Z</th>
                        <td class="c_h"><span>浙江</span></td>
                      </tr>
                    </table>
                  </div>
                </div>
            </span>
        </span>
        <span class="fr">
            <span th:if="${session.user==null}" class="fl">你好，请<a href="login.html"  style="color:#ff4e00;">登录</a>&nbsp;<a href="register.jsp" style="color:#ff4e00;">免费注册</a>&nbsp;&nbsp;</span>
            <span th:if="${session.user!=null}" class="fl"><a th:href="@{/user/userInfo}" th:text="'欢迎回来，'+${session.user.userName}"></a>&nbsp;|&nbsp;<a th:href="@{/order/findByUser}">我的订单</a>&nbsp;</span>
            <span th:if="${session.user!=null}" class="fl">|&nbsp;<a th:href="@{/user/logout}" >注销</a></span>
        </span>
    </div>
</div>
<div id="fade1" class="black_overlay"></div>
<div id="MyDiv1" class="white_content">
    <div class="white_d">
        <div class="notice_t">
            <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv_1('MyDiv1','fade1')"><img src="${ctx}/statics/images/close.gif" /></span>
        </div>
        <div class="notice_c">
            <table border="0" align="center" cellspacing="0" cellpadding="0">
                <tr valign="top">
                    <td width="40"><img src="/images/suc.png"></td>
                    <td>
                        <span style="color:#3e3e3e; font-size:18px; font-weight:bold;" id="showMessage">操作成功</span><br />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<!-- header -->
<!-- searchBar -->
<div id="searchBar">
    <div class="top">
        <div class="logo">
            <a href="/user/index"><img src="/images/logo.png"></a>
        </div>
        <div class="search">
            <form action="/product/search" method="post">
                <input type="text" name="keyWord" class="s_ipt">
                <input type="submit" value="搜索" class="s_btn">
            </form>
        </div>
        <div class="i_car">
            <a th:href="@{/product/findAllCartByUserId/${session.user.id}}">
                <div class="car_t">
                    购物车 [
                    <span th:if="${session.user.carts != null}" th:text="${session.user.carts.size()}"></span>
                    <span th:if="${session.user.carts == null}" th:text="空"></span>
                    ]
                </div>
            </a>
            <div class="car_bg">
                <div class="un_login">我的购物车</div>
                <ul class="cars">
                    <li th:each="cart:${session.user.carts}">
                        <div class="img"><a th:href="@{goodsList_getProductById(id=${cart.product.id})}"><img th:src="'/images/'+${cart.product.fileName }" width="58" height="58" /></a></div>
                        <div class="name"><a th:href="@{goodsList_getProductById(id=${cart.product.id})}" th:text="${cart.product.name}"></a></div>
                        <div class="price"><font color="#ff4e00" th:text="'￥'+${cart.product.price}"></font> X <span class="quantity" th:text="${cart.quantity}"></span>  =  <span class="cost" th:text="${cart.cost}"></span></div>
                    </li>
                </ul>
                <div class="price_sum">共计&nbsp;<font color="#ff4e00">￥</font><span id="totalCost"></span></div>
                <div class="price_a"><a href="/product/settlement">去结算</a></div>
            </div>
        </div>
    </div>
</div>
<!-- searchBar -->

<div class="i_bg">
    <div id="settlement">

        <div class="content mar_20">
            <img src="/images/img2.jpg"/>
        </div>
        <div class="content mar_20">
            <div class="two_bg">
                <div class="two_t">
                    <span class="fr"><a th:href="@{/product/findAllCartByUserId/{id}(id=${session.user.id})}">修改</a></span>商品列表
                </div>
                <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="car_th" width="550">商品名称</td>
                        <td class="car_th" width="150">购买数量</td>
                        <td class="car_th" width="130">小计</td>
                    </tr>

                    <tr th:each="cart:${list}">
                        <td align="center">
                            <div class="c_s_img">
                                <img th:src="'/images/'+${cart.product.fileName}" width="73" height="73"/>
                            </div>
                            <div th:text="${cart.product.name}"></div>
                        </td>
                        <td align="center" th:text="${cart.quantity}"></td>
                        <td align="center" class="qprice" style="color:#ff4e00;" th:text="'￥'+${cart.cost}"></td>
                    </tr>

                </table>

                <div class="two_t">
                    <span class="fr"></span>收货人信息
                </div>
                <table border="0" class="peo_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="p_td" width="160">用户名称</td>
                        <td width="395" th:text="${session.user.userName}"></td>
                        <td class="p_td">登录名称</td>
                        <td th:text="${session.user.loginName}"></td>
                    </tr>
                    <tr>
                        <td class="p_td">手机</td>
                        <td th:text="${session.user.mobile}"></td>
                        <td class="p_td" width="160">电子邮件</td>
                        <td width="395" th:text="${session.user.email}"></td>
                    </tr>
                </table>
                <div class="two_t">
                    <span class="fr"></span>选择地址
                </div>
                <form id="form" action="/product/order" method="post">
                    <table border="0" class="peo_tab" style="width:1110px;" cellspacing="0" cellpadding="0">

                        <tr th:each="address:${addressList}">
                            <td class="p_td" width="160">
                                <input type="radio" th:if="${address.isDefault == 1}" checked name="selectAddress" th:value="${address.address}">
                                <input type="radio" th:unless="${address.isDefault == 1}" name="selectAddress" th:value="${address.address}">
                            </td>
                            <td th:text="${address.address}"></td>
                        </tr>

                        <tr>
                            <td class="p_td" width="160">
                                新地址<input type="radio" name="selectAddress" value="newAddress">
                            </td>
                            <td>
                                地址 <input type="text" value="" name="address" class="add_ipt"> 
                                备注 <input type="text" value="" name="remark" class="add_ipt">
                            </td>
                        </tr>

                    </table>
                    <table border="0" style="width:900px; margin-top:20px;" cellspacing="0" cellpadding="0">
                        <tr height="70">
                            <td align="right">
                                <b style="font-size:14px;">应付款金额：<span id="totleprice" style="font-size:22px; color:#ff4e00;"></span></b>
                                <input type="hidden" name="cost" id="settlement2_totalCost"/>
                            </td>
                        </tr>
                        <tr height="70">
                            <td align="right"><a href="javascript:void(0);" onclick="settlement3();"><img
                                    src="/images/btn_sure.gif"/></a></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function settlement3() {
            $("#form").submit();
        }
    </script>
</div>
<!--footer-->
<div class="b_btm_bg b_btm_c" id="footer">
    <div class="b_btm">
        <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
            <tr>
                <td width="72"><img src="/images/b1.png" width="62" height="62" /></td>
                <td><h2>正品保障</h2>正品行货  放心购买</td>
            </tr>
        </table>
        <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
            <tr>
                <td width="72"><img src="/images/b2.png" width="62" height="62" /></td>
                <td><h2>满38包邮</h2>满38包邮 免运费</td>
            </tr>
        </table>
        <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
            <tr>
                <td width="72"><img src="/images/b3.png" width="62" height="62" /></td>
                <td><h2>天天低价</h2>天天低价 畅选无忧</td>
            </tr>
        </table>
        <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">
            <tr>
                <td width="72"><img src="/images/b4.png" width="62" height="62" /></td>
                <td><h2>准时送达</h2>收货时间由你做主</td>
            </tr>
        </table>
    </div>
</div>
<div class="b_nav">
    <dl>
        <dt><a href="#">新手上路</a></dt>
        <dd><a href="#">售后流程</a></dd>
        <dd><a href="#">购物流程</a></dd>
        <dd><a href="#">订购方式</a></dd>
        <dd><a href="#">隐私声明</a></dd>
        <dd><a href="#">推荐分享说明</a></dd>
    </dl>
    <dl>
        <dt><a href="#">配送与支付</a></dt>
        <dd><a href="#">货到付款区域</a></dd>
        <dd><a href="#">配送支付查询</a></dd>
        <dd><a href="#">支付方式说明</a></dd>
    </dl>
    <dl>
        <dt><a href="#">会员中心</a></dt>
        <dd><a href="#">资金管理</a></dd>
        <dd><a href="#">我的收藏</a></dd>
        <dd><a href="#">我的订单</a></dd>
    </dl>
    <dl>
        <dt><a href="#">服务保证</a></dt>
        <dd><a href="#">退换货原则</a></dd>
        <dd><a href="#">售后服务保证</a></dd>
        <dd><a href="#">产品质量保证</a></dd>
    </dl>
    <dl>
        <dt><a href="#">联系我们</a></dt>
        <dd><a href="#">网站故障报告</a></dd>
        <dd><a href="#">购物咨询</a></dd>
        <dd><a href="#">投诉与建议</a></dd>
    </dl>
    <div class="b_tel_bg">
        <a href="#" class="b_sh1">新浪微博</a>
        <a href="#" class="b_sh2">腾讯微博</a>
        <p>
            服务热线：<br />
            <span>400-123-4567</span>
        </p>
    </div>
    <div class="b_er">
        <div class="b_er_c"><img src="/images/er.gif" width="118" height="118" /></div>
        <img src="/images/ss.png" />
    </div>
</div>
<div class="btmbg">
    <div class="btm">
        备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
        <img src="/images/b_1.gif" width="98" height="33" /><img src="/images/b_2.gif" width="98" height="33" /><img src="/images/b_3.gif" width="98" height="33" /><img src="/images/b_4.gif" width="98" height="33" /><img src="/images/b_5.gif" width="98" height="33" /><img src="/images/b_6.gif" width="98" height="33" />
    </div>
</div>
<!--footer-->
</body>
</html>